rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /portfolio_data/{doc} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == "Uh7K35ih0GZmijz1O9HlWrpAgvH3";
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
